<%- include('templates/header') %>

<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4">Members Area</h1>
        <p class="text-center">Welcome, <%= email %>!</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/img/img1.jpeg" class="card-img-top" alt="Image 1" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Image 1</h5>
                <p class="card-text">Sample image 1.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/img/img2.jpg" class="card-img-top" alt="Image 2" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Image 2</h5>
                <p class="card-text">Sample image 2.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/img/img3.jpg" class="card-img-top" alt="Image 3" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Image 3</h5>
                <p class="card-text">Sample image 3.</p>
            </div>
        </div>
    </div>
</div>

<%- include('templates/footer') %>